.spinner{
  display:block;
  width:45px;
  height:45px;
  margin:25px auto;
  border-color:#eee#14cc66;
  border-style:dotted;
  border-radius:50%;
  border-width:5px;
  animation: spin 0.75s infinite linear;
}
@keyframes spin {
  0% { transform:rotate(0deg); }
  25%{ transform:rotate(90deg); }
  50%{ transform:rotate(180deg); }
  75%{ transform:rotate(180deg); }
  100%{ transform:rotate(360deg); }
}
form{
  width:96%;
  max-width:450px;
  padding:O 25px;
  margin:0 auto;
  position:relative;
}
input.submit{
  width:100%;
  max-width:360px;
  background-color:#14cc66;
  color:#fff;
  font-weight:400;
  cursor:pointer;
  text-align:center;
  margin:15px auto;
  padding:12.5px 0;
  border-radius:25px;
  font-size:120%;
  outline:none;
  border:none;
  -webkit-appearance: none;
  transition:opacity 0.3s ease-in-out;
}

input{
  margin:20px auto;
  display:block;
  padding:12.5px;
  width:100%;
  max-width:360px;
  background-color:#efe;
  font-size:110%;
  outline:none;
  border:1px solid transparent;
  border-radius:6px;
  transition: border 0.3s ease-out;
}
input:hover,
input:focus{
  background-color:#efefef;
}
::-webkit-input-placeholder {
  color: #444;
}
.previous{
  z-index:99999;
  display:flex;
  justify-content:center;
  align-items:center;
}
.previous{
  cursor:pointer;
  position:absolute;
  width:32px;
  height:32px;
  top:20px;
  right:20px;
  border-radius:50%;
  border:3px solid #eee;
}
.form{
  position:relative;
  height:100vh;
}
.widget{
  padding:0 25px;
  color:#111;
  width:100%;
  height:100vh;
  margin:0 auto;
}
.widget h1{
  color:inherit;
}
.confirm,
.sending{
  width:100%;
  padding:20px;
  text-align:center;
  font-size:1.2em;
}
.success{
  color:#14cc66;
}
.error{
  color:#f00;
}
.submit:hover{
  opacity: 0.96;
}
.funga,
.select {
  position: relative;
  display: block;
  width:100%;
  max-width:360px;
  margin:0 auto;
  user-select: none;
}
.funga select {
  display: none;
  padding:15px;
}
.gun {
  position: relative;
  display: block;
  width: 100%;
  margin:0 auto;
  padding: 0 25px 0 15px;
  font-size: 1.2em;
  font-weight: 300;
  color: #fff;
  line-height: 50px;
  background: #14cc66;
  border-radius: 6px;
  cursor: pointer;
}
.gun:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px; height: 10px;
  top: 50%; right: 25px;
  margin-top: -3px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0;
}
.select.opened .gun:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}
.options {
  position: absolute;
  display: block;
  top: 100%; left: 0; right: 0;
  min-width: 100%;
  margin: 15px 0;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(0,0,0,.07);
  background: #fff;
  transition: all .4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
  padding:10px 0;
}
.select.opened .options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}
.options:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%; right: 25px;
  width: 10px; height: 10px;
  margin-bottom: -4px;
  border-top: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  background: #fff;
  transform: rotate(45deg);
  transition: all .4s ease-in-out;
}
.option-hover:before {
  background: #f9f9f9;
}
.option {
  position: relative;
  display: block;
  padding: 0 22px;
  border-bottom: 1px solid #b5b5b5;
  font-size: 18px;
  color: #222;
  line-height: 47px;
  cursor: pointer;
  transition: all .4s ease-in-out;
}
.option:first-of-type {
  border-radius: 4px 4px 0 0;
}
.option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}
.option:hover,
.option.selection {
  background: #f9f9f9;
}
