header{
  background-color:transparent;
  padding-top:10px;
  display:flex;
  justify-content:space-between;
  color:#cecece;
  text-align:center;
  width:100%;
  height:75px;
  text-transform:uppercase;
  position:absolute;
  z-index:999;
}
.menu{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-flow:column;
  width:0;
  height:0;
  opacity:0;
  overflow:hidden;
}
.nav-brand,
.menu{
  transition:height 0.8s ease-out;
}
.brand{
  width:180px;
  display:inline-block;
  border-radius:50%;
  font-family: 'Lora', sans-serif;
  padding:10px 0;
  font-style: italic;
  font-weight: 700;
  text-align:left;
}
.brand img{
  max-width:125px;
}
.open .brand{
  width:120px;
  margin:10px auto;
}
.nav-item{
  padding:10px;
  min-width:125px;
  transition: color 0.4s ease-out;
}
.open{
  position:fixed;
  z-index:999;
  top:0;
  bottom:0;
  width:100%;
  height:100vh;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color:#fff;
  color:#111;
}
.open .menu,
.open .nav-brand{
  width:250px;
  margin:0 auto;
}
.open .menu{
  height:54vh;
  opacity:1;
}
.open .nav-brand{
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:18%;
}
.open .nav-item{
  margin:25px auto;
  width:150px;
}
.nav-brand,
.menu{
  vertical-align:text-top;
  margin:0 25px;
}
.highlight{
  background-color:#14cc66;
  border-radius:2px;
  box-shadow:-2px 4px 3px 3px rgba(0,0,0,0.05);
  color:#fff;
  transition:opacity 0.3s ease-in;
}
.highlight:hover{
  opacity: 0.96;
}
.nav-menu  a:not(.highlight):hover >{
  color:#14cc66;
}
@media screen and (min-width:768px){
  .menu{
    opacity:1;
    width:initial;
    height:initial;
    flex-flow:row wrap;
    justify-content:flex-end;
    margin-right:125px;
  }
}
[class^="icon-"], [class*=" icon-"]{
  vertical-align: text-bottom;
}