*{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}
p,h2,h3,h4,ul,li,header,nav,
div,section,footer,body,input,
textarea,label,img,figure,figcaption{
  margin:0;
  padding:0;
}
.team{
  padding-bottom:75px;
}
.team img{
  display:block;
  width:120px;
  height:auto;
  margin:25px auto;
  border-radius:50%;
  border-color:#14cc66 #eee #14cc66 #eee;
  border-style:solid;
  border-width:3px;
  padding:3px;
}
.team-f{
  display:block;
  padding:5px 15px;
  margin:0 auto;
  text-align:center;
  color:#14cc66;
  cursor:pointer;
}
.our-value{
  width:135px;
  height:135px;
  padding:60px 0;
  text-align:center;
  background-color:#111;
  border-radius:45px 60px 45px 150px;
  transform:rotate(-45deg);
  margin:5px auto 30px auto;
  color:#fff;
}
.our-value p{
  transform:rotate(45deg);
}
.team-f:hover{
  color:#14cc66;
  text-decoration:underline;
}
.wisdom{
  border-radius:10px;
  width:90%;
  padding:15px;
  font-size:100%;
  text-align:center;
  margin:0 auto;
}
.btn.green{
  background-color:#14cc66;
  color:#fff;
}
.btn.green:hover{
  background-color:#14cc66;
}
.border{
  color:#fff;
  font-weight:500;
  font-size:120%;
  width:250px;
  display:block;
  margin:25px auto;
  padding:10px 25px;
  border-radius:25px;
  background-color:#14cc66;
  border:1px solid transparent;
  cursor:pointer;
  text-align:center;
  transition:background-color 0.3s ease-out;
}
.border:hover{
  background-color:#14cc66;
  border:1px solid transparent;
}
a{
  text-decoration: none;
  color:inherit;
}
ul{
  list-style: none;
}
body{
  position:relative;
  font-family:'Nunito sans', sans-serif;
  font-size: 15px;
  line-height:1.5;
  margin:0 auto;
  color:#222;
  width:100%;
  font-weight:400;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  letter-spacing:0.2px; 
}
h1,h2, h3, h4{
  font-stretch:normal;
  font-weight:400;
  text-align:center;
  font-family: "Lora", sans-serif;
  font-style: italic;
  padding:0;
  line-height:1;
  color:#000;
  margin:0 auto;
}
h1{
  font-size:225%;
}
h2{
  font-size:150%
}
h3{
  font-size:130%;
}
h4{
  font-size:125%;
}
p{
  padding:3px 0;
}
img{
  display: inline-block;
  vertical-align: middle;
  width:100%;
  height: auto;
  margin:0 auto;
}
.view-menu{
  position:absolute;
  display:flex;
  justify-content:center;
  align-items:center;
  right:15px;
  width:50px;
  height:50px;
  text-align:center;
  top:5px;
  cursor:pointer;
  border-radius:5px;
}
.close-menu{
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  width:32px;
  height:32px;
  margin:auto;
  border:3px solid #f5f7f5;
  border-radius:50%;
}
.icon-bar{
  position:relative;
  margin-top:15px;
  display:inline-block;
}
.icon-bar,
.icon-bar:after,
.icon-bar:before{
  padding:1px;
  width:35px;
  margin:0;
  background-color:#fff;
}
.icon-bar:after,
.icon-bar:before,{
  content:'';
  position:absolute;
  left:0;
  transition: all 0.3s ease-in-out; 
}
.icon-bar:after{
  top:10px;
}
.icon-bar:before{
  top:-10px;
}
.icon-bars{
  font-size:1.5em;
  color:#14cc66;
}
.sasa{
  color:#fff;
  background-size:cover;
  width:100%;
  min-height:100vh;
  position:relative;
  background-color:#000;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:top center;
}
.insight{
    background-image: url({{site.baseurl}}/assets/layout/creative.jpg);
}
.art{
    background-image:url({{site.baseurl}}/assets/layout/art.jpeg);
}
.dev{
  background-image:url({{site.baseurl}}/assets/layout/soar.jpg);
}
.solve{
  background-image:url({{site.baseurl}}/assets/layout/solution.jpg);
}
.sasa p,
.sasa h1,
.sasa h2{
  padding:5px 0;
  color:#fff;
}
.sasa p{
  color:#dedede;
}
#work{
  padding-left:25px;
  padding-right:25px;
}
.overlay{
  padding:90px 25px 0;
  background-color:rgba(0,0,0,0.6);
  color:#fff;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  width:100%;
}
.shadow{
  background-color:rgba(0,0,0,0.6);
  color:#fff;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  width:100%;
}
.overlay h1{
  font-size:2.4em !important;
  font-weight:300;
  color:#fff;
  font-size:1.6em;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}
.overlay h4{
    color:#cecece;
}
.division,
.overlay{
  display:block;
  width:100%;
  min-height:100vh;
  z-index:3;
  position:relative;
}
.half{
  padding-bottom:30px;
  font-size:1.15em;
  font-weight:300;
  display:block;
  margin:10px auto;
  text-align:center;
  background:transparent;
  z-index:2;
}
.btn{
  display: block;
  width:250px;
  padding:12.5px;
  font-size:1.1em;
  border-radius:1px;
  margin:5px auto;
  text-align:center;
  transition:background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in;
}
.svg-icon{
  width:140px;
  height:140px;
  margin:0 auto;
  display:flex;
  justify-content:center;
  border-radius:50%;
}
.svg-icon svg{
  width:75px;
}
@keyframes watch {
  0%{ transform:translateX(20px); }
	50%{ transform:translateX(-20px); }
	100%{ transform:translateX(20px); z-index:200; }
}
@keyframes dance {
  0%{ transform:translateX(-20px); z-index:200; }
	50%{ transform:translateX(20px); }
	100%{ transform:translateX(-20px); }
}

.flex,
.flex-in{
    display:flex;
    flex-flow:row wrap;
    align-items:flex-start;
}
.flex-in{
    justify-content:center;
    align-items: center;
}
.tree{
  margin-bottom: 30px;
  align-items: stretch;
}
.tree h2{
 margin:15px 0 ;
}
.child{
    width:99%;
}
.duo,
.mono,
.quad,
.trio{
  width:100%;
}
.our-video,
.media{
  display:none;
  transition:opacity 0.3s ease-in-out;
}
.order{
  order:-1;
}
@media screen and (min-width:768px){
  .order{
    order: initial;
  }
  .flex.tree p{
    width: 75%;
    margin: 0 auto
  }
  .flex{
    flex-flow:row wrap;
    padding-left:30px;
    padding-right:0;
  }
  .third{
   width: 30%;
  }
  .mono{
    width:100%;
  }
  .duo{
    width:49%;
  }
  .quad{
    width:24.25%;
  }
  .third{
    width:32%;
  }
  .tripple{
    width:67.5%;
    padding:25px;
  }
  .trio{
    width:30%;
  }
  .form-modal{
    width:100%;
    margin:auto;
    border-radius:10px;
    padding:5px;
  }
  .view-menu{
    display:none;
  }
  .high{
    min-height:54vh;
  }
  .video{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    position:fixed;
    background:rgba(0,0,0,0.6);
    top:0;
    opacity:1;
    height:100vh;
    z-index:999;
  }
  .our-video{
    display:flex;
    margin:10px auto;
    width:48px;
    height:48px;
    align-items:center;
    justify-content:center;
    font-size:2em;
    color:#fff;
    cursor:pointer;
    border-radius:50%;
  }
}
@media screen and (min-width:992px){
  .third{
    width: 48%;
  }
}

.wrapper{
  width:100%;
  margin:0;
}
.steps p{
  padding-left:10px;
  padding-right:10px;
}
.green{
  color:#14cc66;
}
.facebook,
.twitter{
  max-width:250px;
  color:#fff;
  cursor:pointer;
  text-transform:uppercase;
  text-align:center;
  display:inline-block;
}
.facebook{
  background-color:#3b5998;
}
.twitter{
  background-color:#1da1f2;
}
.linkedin{
  background-color:#0084bf;
}
.center-text{
  text-align: center;
}
.center-me{
  display:inline-block;
  width:80%;
  text-align:center;
}
footer{
  background-color:#eee;
  padding-bottom:35px;
}
footer p:last-child{
  font-size:98%;
  display:block;
  padding:12.5px 25px 40px;
  width:96%;
  max-width:960px;
  margin:5px auto;
}
footer a{
  position:relative;
  display:block;
  width:100%;
  padding:5px;
  text-align:center;
}
footer img{
  width:150px;
  height:auto;
}
footer .flex-panel{
  width:96%;
  padding: 0;
  text-align: center;
}
#footer-social{
  max-width:180px;
  margin:0 auto;
  color:#fff;
  justify-content: space-around;
}
#footer-social a{
  width:32px;
  height:32px;
  border-radius:50%;
}
footer div {
  padding:25px;
}
footer h4{
  padding:3px;
  margin-bottom:12.5px;
}
.about h1{
  margin-top:60px;
}
.about > .flex-panel{
  padding-top:50px;
  padding-bottom:50px;
  min-height:50vh;
}
.underline{
  text-decoration: underline;
}
.button{
  color:#fff;
  font-size:115%;
  padding:10px 0;
  width:135px;
  display:inline-block;
  margin-right:1px;
  text-align:center;
  cursor:pointer;
  background-color:#14cc66;
  border:none;
  border-radius:25px 0 0 25px;
  transition:background-color 0.3s ease-out 0.1s;
}

.button:nth-child(2n){
  border-radius:0 25px 25px 0;
}
.button:hover{
  background-color:#fff;
  color:#000;
}
.transparent{
  padding:25px;
  min-height:72vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.project{
  padding:25px;
  border-radius:10px;
  display:block;
  background-color:transparent;
  margin:15px;
  opacity:0.85;
  cursor:pointer;
  transition:color 0.3s ease-in, opacity 0.3s;
}
.project img{
  display:inline-block;
  width:100%;
  max-width:360px;
  margin:0 auto;
  height:auto;
}
.project:hover{
  opacity:1;
}

.subscription{
  padding:0;
}
.email,
.subscribe{
  display:inline-block;
  padding:10px;
  border-radius:6px;
  border:1px solid #14cc66;
}
.email{
 width:200px;

}.subscribe{
  width:75px;
  background-color:#14cc66;
  color:#fff;
  font-size:1.2em;
  outline:none;
  cursor:pointer;
}
.bot{
  position:fixed;
  bottom:0;
  right:0;
  width:40px;
  height:40px;
  font-size:1.5em;
  border-radius:50%;
  outline:none;
  color:#14cc66;
  cursor:pointer;
  z-index:9999;
  text-align:center;
  margin:8px;
  transition: opacity 0.3s ease-in-out; 
}
.bot:hover{
  opacity: 0.9;
}
.continue{
  display:flex;
  cursor:pointer;
  z-index:503;
  max-width:280px;
  margin:15px auto;
  color:#fff;
  transition:opacity 0.3s ease-out;
  font-size:1.2em;
}
.big-icon{
  display:block;
  margin:10px auto;
  font-size:4em;
}
.wrapper{
  position:relative;
}
.play{
  display:block;
  width:280px;
  margin:20px auto;
  perspective:50px;
}
#appear{
  perspective:500px;
  display:block;
  animation: appear 5s infinite alternate;
  color:#14cc66;
  font-size:125%;
  width:280px;
  height:36px;
  z-index:3;
  overflow:hidden;
  font-weight:500;
  text-transform:capitalize;
  margin:50px auto;
}
@keyframes appear{
  0%{opacity:1;}
  50%{ opacity:0.8;}
  100%{opacity:0;}
}
p{
  text-align:center;
  padding-top:12.5px;
  margin: 0 auto;
  max-width: 750px;
}
h3.value{
  width:100%;
  padding:15px;
  text-align:center;
  text-transform:capitalize;
}
.services .trio{
  padding:15px 15px 75px 15px;
  font-size:105%;
}
.service-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-icon i{
  color:#14cc66;
  font-size:6em;
}
#other > .expand-me{
  overflow:hidden;
  color:#222;
  background-color:transparent;
}
.ipad,video{display:none}
