/*.ipad,.video,video{display:none}*/
.video-box{
  position:relative;
  width:90%;
  max-width:640px;
  margin:25px auto;
  box-shadow: 0 5px 15px -2px rgba(10, 16, 34, .4);
}
video{
  display:block;
  width:100%;
  background-color: #fff;
}
#play,
#mute,
#full{
  width:50px;
  height:50px;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:0 20px;
  font-size:1.5em;
}
.control,
.controls{
  color:#14cc66;
  text-align:center;
  cursor:pointer;
  background-color: transparent;
  position:absolute;
  display:inline-block;
  top:0;
  opacity:0;
  transition:opacity 0.25s ease-in-out;
}
.close{
  right:0;
  padding:5px 7.5px;
  width:100px;
  top:0;
  z-index:2;
  background-color:#f0f0f0;
  box-shadow: 0 5px 15px -2px rgba(10, 16, 34, .4);
  color:#f00;
}
.tall{
  opacity:1;
}
.video-box:hover .control{
  opacity:1;
}
.progress{
  top:92%;
  left:10px;
}
.full,
.mute{
  top:84%;
  background-color:transparent;
  color:#111 !important;
}
.play{
  border-radius:50%;
  top:40%;
  left:40%;
}
.mute{
  left:72%;
}
.full{
  left:80%;
}
.range{
  -webkit-appearance: none;
  width: 72%;
  margin: 0;
  padding:0;
  height:2px;
}
.range:hover,
.range:focus{
  border:1px solid #aaa;
}
.range::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: darkgoldenrod;
  cursor: pointer;
  -webkit-appearance: none;
}
.range::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
}
.range::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #14cc66;
  cursor: pointer;
}
.range::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.range::-ms-thumb {
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #14cc66;
  cursor: pointer;
  height: 1px;
}
.range.volume::-moz-range-thumb {
  height: 30px;
  width: 15px;
  background: #14cc66;
  cursor: pointer;
  border-radius:2px;
}
.range.volume::-webkit-slider-thumb {
  height: 30px;
  width: 15px;
  background: rgba(0,0,0,0.6);
  cursor: pointer;
  border-radius:2px;
}
